<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-12">
    <% @authorized_groups.each do |group| %>
      <fieldset>
        <legend>
          <%= link_to group.name, namespace_path(group.name) %>
        </legend>
        <%= render group.repositories.limit(2) %>
      </fieldset>
    <% end %>
  </div>
</div>

<div data-auto-update-repositories="<%= current_user.username %>">
  <%= render @repositories %>
</div>

<%= paginate @repositories %>
