<% content_for :content_title do %>
  <%=t '.repositories' %>
<% end %>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-md-1">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= current_user.username %> <span class="fa fa-caret-down"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#"><%= current_user.username %></a></li>
        <li class="divider"></li>
        <li><a href="#">TEst1</a></li>
        <li><a href="#">TEst1</a></li>
        <li class="divider"></li>
        <li><a href="#"><%=t '.new_org' %></a></li>
      </ul>
    </div>
  </div>
</div>

<%= render @repositories %>
