<% content_for :subnav do %>
  <%= render 'subnav', namespace: @namespace, repository: @repository %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <div class="box box-solid box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t '.description' %></h3>
        <div class="box-tools pull-right">
          <% if can? :update, @repository %>
            <%= button_to edit_description_namespace_repository_path(@namespace.name, @repository.name), class: 'btn btn-box-tool', remote: true, method: :get do %>
              <i class="fa fa-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="box-body markdown-body description-box">
        <%= @repository.description_html ? raw(@repository.description_html) : t('.desc_empty') %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-solid box-default">
      <div class="box-header with-border">
        <h3 class="box-title"><%= t '.docker_pull_command' %></h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool"><i class="fa fa-clipboard"></i></button>
        </div>
      </div>
      <div class="box-body">
        <p class="docker-pull-command">
          docker pull <%= request.host_with_port %>/<%= @namespace.name %>/<%= @repository.name %>
        </p>
      </div>
    </div>
    <% if can? :update, @repository %>
      <div class="box box-solid box-default">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t '.action' %></h3>
          <div class="box-tools pull-right">
          </div>
        </div>
        <div class="box-body">
          <%= form_tag toggle_publicity_namespace_repository_path(@namespace.name, @repository.name), method: :post do %>
            <%= hidden_field_tag :is_public, @repository.is_public ? 'false' : 'true' %>
            <%= submit_tag @repository.is_public ? t('.make_private') : t('.make_public'), class: 'btn btn-block btn-primary btn-lg' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
