<div class="box box-solid box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t '.repositories' %></h3>
    <div class="box-tools pull-right">
    </div>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <th><%= t '.full_path' %></th>
          <th><%= t '.tag' %></th>
          <th><%= t '.pull_count' %></th>
          <th><%= t '.is_public' %></th>
        </thead>
        <tbody>
          <% if @repositories.length == 0 %>
            <tr>
              <td colspan="4"><%= t 'no_repositories' %></td>
            </tr>
          <% end %>

          <% @repositories.each do |repository| %>
            <tr>
              <td><%= repository.full_path %></td>
              <td>
                <% #性能消耗，应避免频繁访问# %>
                <%= repository.tags.map{|t| t[:name]}.join(',') %>
              </td>
              <td><%= repository.pull_count %></td>
              <td>
                <i class="glyphicon glyphicon-<%= repository.is_public ? 'ok' : 'remove' %>" />
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-right">
      <%= paginate @repositories %>
    </div>
  </div>
</div>
