<div class="row">
  <div class="col-md-8">
    <div class="home-box">
      <h1><%= t '.build_ship_run' %></h1>
      <h1><%= t '.any_app_anywhere' %></h1>
    </div>
  </div>

  <div class="col-md-4">
    <div class="home-box">
      <p class="login-box-msg"><%= t '.sign_in' %></p>

      <%= form_for @user, url: session_path(@user) do |f| %>
        <div class="form-group has-feedback">
          <%= f.text_field :login, class: 'form-control', placeholder: t('.email_username'), autofocus: true %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password, class: 'form-control', placeholder: t('.password'), autocomplete: 'off' %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <%= f.submit t('.sign_in'), class: 'btn btn-primary btn-block btn-flat' %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>

    </div>
  </div>
</div>
