<% content_for :content_title do %>
  <%= link_to @namespace.name, namespace_path(@namespace.name) %> / <%= link_to @repository.name, namespace_repository_path(@namespace.name, @repository.name) %>
<% end %>

<% content_for :content_subtitle do %>
  <%= t '.tags' %>
<% end %>

<div class="box box-widget">
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <th><%= t '.name' %></th>
          <th><%= t '.size' %></th>
          <th><%= t '.action' %></th>
        </thead>
        <tbody>
          <% if @tags.length == 0 %>
            <tr>
              <td colspan="3"><%= t 'no_tags' %></td>
            </tr>
          <% end %>

          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag[:name] %></td>
              <td><%= number_to_human_size tag[:size] %></td>
              <td><%= link_to namespace_repository_tag_path(@namespace.name, @repository.name, tag[:name]), method: :delete do %><i class="fa fa-trash-o fa-lg"></i><% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
