<% content_for :subnav do %>
  <%= render 'repositories/subnav', namespace: @namespace, repository: @repository %>
<% end %>

<div class="box box-solid box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Tags</h3>
    <div class="box-tools pull-right">
    </div>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <th><%= t '.name' %></th>
          <th><%= t '.size' %></th>
          <% if can? :push, @repository %>
            <th><%= t '.action' %></th>
          <% end %>
        </thead>
        <tbody>
          <% if @tags.length == 0 %>
            <tr>
              <td colspan="3"><%= t 'no_tags' %></td>
            </tr>
          <% end %>

          <% @tags.each do |tag| %>
            <tr>
              <td><%= tag[:name] %></td>
              <td><%= number_to_human_size tag[:size] %></td>
              <% if can? :push, @repository %>
                <td><%= link_to namespace_repository_tag_path(@namespace.name, @repository.name, tag[:name]), method: :delete do %><i class="fa fa-trash-o fa-lg"></i><% end %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
