<% content_for :subnav do %>
  <%= render 'repositories/subnav', namespace: @namespace, repository: @repository %>
<% end %>

<div class="box box-solid box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t '.tags' %></h3>
    <div class="box-tools pull-right">
    </div>
  </div>
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <th><%= t '.name' %></th>
          <th><%= t '.size' %></th>
          <% if can? :push, @repository %>
            <th><%= t '.action' %></th>
          <% end %>
        </thead>
        <tbody data-auto-update-tags="<%= @repository.id %>">
          <% if @tags.length == 0 %>
            <tr class="no_tags">
              <td colspan="3"><%= t '.no_tags' %></td>
            </tr>
          <% end %>

          <%= render partial: 'tags/tag', collection: @tags, as: :tag %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="box-footer">
    <div class="pull-right">
      <%= paginate @tags %>
    </div>
  </div>
</div>
