<header class="subnav">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <% if user_signed_in? %>
          <div class="btn-group namespace-chooser">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= namespace&.name || current_user.username %> <span class="fa fa-caret-down"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to current_user.username, namespace_path(current_user.username) %></li>
              <% if current_user.groups.count > 0 %>
                <li class="divider"></li>
                <% current_user.groups.each do |group| %>
                  <li><%= link_to group.name, namespace_path(group.name) %></li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li><%= link_to t('.new_org'), new_namespace_path %></li>
            </ul>
          </div>
        <% end %>
      </div>

      <nav class="pull-left">
        <ul class="nav nav-tabs">
          <li class="<%= active_class(namespace_path(namespace.name)) %>"><%= link_to t('.repositories'), namespace_path(namespace.name) %></li>
          <% if can?(:update, namespace) %>
            <% if namespace.personal? %>
              <li class="<%= active_class(namespace_members_path(namespace.name)) %>"><%= link_to t('.collaborators'), namespace_members_path(namespace.name) %></li>
            <% end %>
            <li class="<%= active_class(settings_namespace_path(namespace.name)) %>"><%= link_to t('.settings'), settings_namespace_path(namespace.name) %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </nav>
</header>
