<div class="box">
  <div class="box-header with-border">
    <div class="box-title">
      <%= t '.new_org' %>
    </div>
  </div>
  <%= form_for @namespace, url: namespaces_path do |f| %>
    <div class="box-body">
      <div class="form-group">
        <%= f.label :name, t('.name') %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :name, t('.publicity') %>
        <%= f.check_box :default_publicity, class: 'form-control' %>
      </div>
    </div>

    <div class="box-footer">
      <%= f.submit t('.create_org'), class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
