<% content_for :subnav do %>
  <%= render 'subnav', namespace: @namespace %>
<% end %>

<div <%=raw "data-auto-update-repositories=\"#{@namespace.name}\"" if can?(:update, @namespace) %>>
  <%= render @repositories %>
  <% if @repositories.count == 0 %>
    <p class="no_repository">
      <%= t '.no_repository' %>
    </p>
  <% end %>
</div>

<%= paginate @repositories %>
