<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a href="<%= root_path %>" class="navbar-brand">Shelter</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
            </div>

            <div class="collapse navbar-collapse pull-left nav-tabs" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="<%= active_class(dashboard_index_path) %>"><%= link_to t('.dashboard'), dashboard_index_path %></li>
                <% if user_signed_in? %>
                  <li class="<%= active_class(namespace_path(current_user.username)) %>"><%= link_to t('.repositories'), namespace_path(current_user.username)  %></li>
                  <% if current_user.admin? %>
                    <li class="dropdown <%= active_class "/admin/#{controller_name}" %>">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t '.admin' %> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><%= link_to t('.users'), admin_users_path %></li>
                        <li><%= link_to t('.namespaces'), admin_namespaces_path %></li>
                        <li><%= link_to t('.repositories'), admin_repositories_path %></li>
                        <li><%= link_to t('.system_settings'), edit_admin_setting_path %></li>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
              </ul>

              <%= form_tag search_path, method: 'get', class: 'navbar-form navbar-left' do %>
                <div class="form-group">
                  <%= text_field_tag :q, nil, class: 'form-control', id: 'navbar-search-input', placeholder: t('.search') %>
                </div>
              <% end %>
            </div>

            <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <%= t '.language' %>
                  </a>
                  <ul class="dropdown-menu">
                    <% I18n.available_locales.each do |locale| %>
                      <li><%= link_to t("locales.#{locale}"), locale: locale %></li>
                    <% end %>
                  </ul>
                </li>
                <% if user_signed_in? %>

                  <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!-- The user image in the navbar-->
                      <%= image_tag avatar_url(current_user, 200), class: 'user-image', alt: 'User Image' if current_user %>
                      <!-- hidden-xs hides the username on small devices so only the image appears. -->
                      <span class="hidden-xs"><%= current_user.username %></span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to t('.new_org'), new_namespace_path %></li>
                      <li><%= link_to t('.profile'), edit_user_registration_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to t('.log_in'), new_user_session_path %></li>
                  <li><%= link_to t('.sign_up'), new_user_registration_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <%= yield :subnav %>

      <div class="content-wrapper <%= "has-subnav" if content_for? :subnav or true %>">
        <div class="container">

          <% if content_for? :content_title or content_for? :content_subtitle %>
            <section class="content-header">
              <h1>
                <%= yield :content_title %>
                <small><%= yield :content_subtitle %></small>
              </h1>
            </section>
          <% end %>

          <!-- Main content -->
          <section class="content">
            <% if notice %>
              <div class="callout callout-info">
                <h4><%= t '.notice' %>!</h4>

                <p>
                  <%= notice %>
                </p>
              </div>
            <% end %>

            <% if alert %>
              <div class="callout callout-danger">
                <h4><%= t '.alert' %>!</h4>

                <p>
                  <%= alert %>
                </p>
              </div>
            <% end %>

            <%= yield %>
          </section>
        </div>
      </div>

      <div class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            <b>Version</b> 0.2.0
          </div>

          <strong><%= t '.copyright' %> &copy; 2016 <a href="https://qinix.com">Eric Zhang</a>.</strong>
          <%= t '.all_rights_reserved' %>
        </div>
      </div>
    </div>
  </body>
</html>
