<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :title %></title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a href="<%= root_path %>" class="navbar-brand">Shelter</a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
            </div>

            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="<%= active_class(root_path) %>"><%= link_to 'Home', root_path %></li>
                <li class="<%= active_class(dashboard_index_path) %>"><%= link_to 'Dashboard', dashboard_index_path %></li>
                <!-- <li><a href="#">Link</a></li> -->
                <!-- <li class="dropdown"> -->
                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a> -->
                <!-- <ul class="dropdown-menu" role="menu"> -->
                <!-- <li><a href="#">Action</a></li> -->
                <!-- <li><a href="#">Another action</a></li> -->
                <!-- <li><a href="#">Something else here</a></li> -->
                <!-- <li class="divider"></li> -->
                <!-- <li><a href="#">Separated link</a></li> -->
                <!-- <li class="divider"></li> -->
                <!-- <li><a href="#">One more separated link</a></li> -->
                <!-- </ul> -->
                <!-- </li> -->
              </ul>

              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" id="navbar-search-input" placeholder="Search"/>
                </div>
              </form>
            </div>

            <div class="navbar-custom-menu">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                      Create <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Create Repository', new_namespace_repository_path(current_user.username) %></li>
                      <li><%= link_to 'Create Orgnization', new_namespace_path %></li>

                    </ul>
                  </li>

                  <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <!-- The user image in the navbar-->
                      <%= image_tag avatar_url(current_user, 200), class: 'user-image', alt: 'User Image' if current_user %>
                      <!-- hidden-xs hides the username on small devices so only the image appears. -->
                      <span class="hidden-xs"><%= current_user.username %></span>
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Profile', edit_user_registration_path %></li>
                      <li class="divider"></li>
                      <li><a href="#">Settings</a></li>
                      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to 'Log in', new_user_session_path %></li>
                  <li><%= link_to 'Sign up', new_user_registration_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <div class="content-wrapper">
        <div class="container">

          <% if content_for? :content_title or content_for? :content_subtitle %>
            <section class="content-header">
              <h1>
                <%= yield :content_title %>
                <small><%= yield :content_subtitle %></small>
              </h1>

              <!-- <ol class="breadcrumb"> -->
              <%# if content_for? :breadcrumb %>
              <%#= yield :breadcrumb %>
              <%# else %>
              <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li> -->
              <!-- <li><a href="#">Layout</a></li> -->
              <!-- <li class="active">Top Navigation</li> -->
              <%# end %>
              <!-- </ol> -->
            </section>
          <% end %>

          <!-- Main content -->
          <section class="content">
            <% if notice %>
              <div class="callout callout-info">
                <h4>Notice!</h4>

                <p>
                  <%= notice %>
                </p>
              </div>
            <% end %>

            <% if alert %>
              <div class="callout callout-danger">
                <h4>Alert!</h4>

                <p>
                  <%= alert %>
                </p>
              </div>
            <% end %>

            <%= yield %>
          </section>
        </div>
      </div>

      <div class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            <b>Version</b> 0.1.0
          </div>

          <strong>Copyright &copy; 2016 <a href="http://qinix.com">Eric Zhang</a>.</strong>
          All rights reserved.
        </div>
      </div>
    </div>
  </body>
</html>
