<% content_for :subnav do %>
  <%= render 'namespaces/subnav', namespace: @group %>
<% end %>

<div class="box box-solid box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t '.collaborators' %></h3>
    <div class="box-tools pull-right">
      <% if can? :update, @group %>
        <%= link_to new_namespace_group_member_path(@group.name), class: 'btn btn-box-tools' do %>
          <%= t '.invite_user' %> <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="box-body">
    <div class="">
      <table class="table no-margin">
        <thead>
          <th><%= t '.name' %></th>
          <th><%= t '.access_level' %></th>
          <% if can? :update, @group %>
            <th><%= t '.actions' %></th>
          <% end %>
        </thead>
        <tbody>
          <% if @members.length == 0 %>
            <tr>
              <td colspan="3"><%= t '.no_collaborators' %></td>
            </tr>
          <% end %>

          <% @members.each do |member| %>
            <tr>
              <td><%= member.user.username %></td>
              <% if (can? :update, @group) && member.user != current_user %>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><%= member.access_level %> <span class="fa fa-caret-down"></span></button>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'owner', toggle_access_level_namespace_group_member_path(@group.name, member.id, access_level: 'owner'), method: :post %></li>
                      <li><%= link_to 'developer', toggle_access_level_namespace_group_member_path(@group.name, member.id, access_level: 'developer'), method: :post %></li>
                      <li><%= link_to 'viewer', toggle_access_level_namespace_group_member_path(@group.name, member.id, access_level: 'viewer'), method: :post %></li>
                    </ul>
                  </div>
                </td>
              <% else %>
                <td><%= member.access_level %></td>
              <% end %>
              <% if can? :update, @group %>
                <td><% if member.user != current_user %><%= link_to namespace_group_member_path(@group.name, member), method: :delete do %><i class="fa fa-trash-o fa-lg"></i><% end %><% end %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
